@import 'styles/partials/reset';
@import 'styles/partials/colors';
@import 'styles/partials/typography';
@import 'styles/partials/grid';
@import 'styles/partials/module';
@import 'styles/components/menu';
@import 'styles/partials/buttons';

header {
    width: 100%;
    background-color: $white;
    align-items: center;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-logo{
    background-color: $white;
    padding: 12px;
    height: 35px;
    display: contents;
    img{
        width: 35px;
        height: auto;
    }
}
.wrapper{
    text-align: center;
}
.form-container{
    padding: 20px;
    border-radius: 10px;
    background:  $white;
    margin: 64px auto;
    width: 100%;
    max-width: 300px;
    .container-footer{
        text-align: center;
    }

    a{
        color: map-get($primary, "100");
        font-size: 10px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        font-weight: 300;
    }
    input{
        margin: 5px 0;
        padding: 8px 16px;
        width: 265px;
        height: 30px;
        background: rgba(239, 241, 249, 0.6); //mapa de cores
        border-radius: 8px;
        border: none;
    }
}

span{
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: map-get($black, "30");
}

