
body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
}
.fixedHeader {
  padding: 59px 0 0 0;
  color: white;
  background-image: url("assets/preview.png");
  background-repeat: no-repeat;
  height: 520px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-size: cover;
  background-position: top;
}

.preHeader {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  position: absolute;
  z-index: 10;
  width: 100%;
  background: rgba(0,0,0,.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preBody{
  position: absolute;
  bottom: 10px;
  width: 100vw;
}
h3{
  font-size: 15px;
}
ul{
  list-style-type: none;
}
li {
  list-style-type: none;
  display: inline;
  padding: 10px;
}

.category{
  text-align: center;
}
.iconButton{
  display: flex;
  justify-content: space-around;
  
}
.allGrid{
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}

.capaFilm{
  background-image: url("assets/thumbnail.png");
  background-repeat: no-repeat;
  padding: 10px;
  width: 130px;
  height: 130px;
  aspect-ratio: 9/12;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inlineGrid{
  display: inline-grid;
  text-align: center;
  justify-content: space-between;
}
.left img, .img{
  padding: 10px;
}
.button {
  display: inline-grid;
}
.spanGrid{
  font-size: 10px;
}
nav a {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: 8px;
}
.bottom-nav {
  display: flex;
  background: black;
  align-items: center;
  height: 64px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.divPlay {
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid white;
  border-radius: 25px;
  align-items: center;
  width: 40px;
  height: 40px;
  justify-content: center;
}
.buttonP {
  color: black;
  background: white;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
nav a img {
  width: 20px;
}

.divPlay img {
  left: 2px;
  position: relative;
}

