html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.buttons__wrapper {
    width: 500px;
    margin: 16px auto;
}

.d-flex {
    display: flex;
    gap: 12px;
}

button{
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    color: white;
}

.new-width button{
    height: 35px;
}
 
.outline button{
    background-color: white;
    border: 1px solid;
    color: grey;
}

.red{
    background-color: #cf1414;
}
.blue{
    background-color: #1652F0;
}
.yellow{
    background-color: #dbac2b;
}
.green{
    background-color: #14cf3c;
}
.outline .outline-blue {
    border-color: #1652F0;
    color: #1652F0;
}
.outline  .outline-red {
    border-color: #cf1414;
    color: #cf1414;
}
.outline  .outline-yellow {
    border-color: #dbac2b;
    color: #dbac2b;
}
.outline  .outline-green{
    border-color: #14cf3c;
    color: #14cf3c;
}
.outline  .outline-blue button{
    border-color: #1652F0;
    color: #1652F0;
}
 